absl-py==2.4.0
affinegap==1.12
annotated-types==0.7.0
anyio==4.12.1
BTrees==6.4
categorical-distance==1.9
certifi==2026.7.22
cffi==2.1.1
click==8.3.1
dedupe==3.0.3
dedupe-Levenshtein-search==1.4.5
DoubleMetaphone==1.2
fastapi==0.110.0
h11==0.16.0
haversine==2.9.0
highered==0.2.1
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ImageHash==4.3.2
immutabledict==4.3.1
joblib==1.5.3
narwhals==2.24.0
numpy==2.2.6
ollama==0.6.2
ortools==9.14.6206
pandas==3.0.1
persistent==6.7
pillow==12.3.0
protobuf==6.31.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyhacrf-datamade==0.2.8
PyLBFGS==0.2.0.16
python-dateutil==2.9.0.post0
PyWavelets==1.9.0
scikit-learn==1.9.0
scipy==1.15.3
simplecosine==1.2
six==1.17.0
starlette==0.36.3
threadpoolctl==3.6.0
typing-inspection==0.4.4
typing_extensions==4.15.0
uvicorn==0.29.0
zope.deferredimport==6.1.1
zope.index==8.1
zope.interface==8.5
zope.proxy==7.2
